# Exercício 3 - Segmento de clientes - Classificação

[Referência](https://www.kaggle.com/kaushiksuresh147/customer-segmentation)

Uma empresa deseja lançar um produto em um novo mercado - outro país, por exemplo. O novo país possui características populacionais e econômicas muito parecidas com o país de origem, portanto foi tomada a decisão de utilizar a base de clientes atuais para identificar os segmentos dos potenciais clientes no novo mercado. 

A base 'customer_train.csv' possui os dados dos clientes da empresa. Cada cliente faz parte de um segmento, o que foi construído ao longo de anos, de acordo com a sua preferência e o perfil de interação de cada individuo. Você deve construir um modelo que, dada as características do cliente, preveja qual é o segmento ao qual ele pertence. Esse modelo será utilizado pela equipe de lançamento no outro país, portanto prepare um segundo notebook para ser enviado para que os funcionários possam executar o modelo sem precisar da etapa de treinamento.  

Se a empresa decidisse reduzir um dos segmentos, ou seja, trabalhar apenas com apenas 3, qual categoria você removeria, como e por que? Execute a sua ideia!

__Dicas__: 

- Para construir o notebook de "entrega", você pode se basear no exercício sobre Pipelines, com o salvamento em .pkl.

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('customer_train.csv')

print(df.shape)

df.head()

(8068, 11)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A