# Tuplas e Dicionários

## Revisão de Listas

In [2]:
minha_lista = [1, 2.9, 'palavra', True]

In [3]:
# Primeiro Elemento
minha_lista[0]

1

In [4]:
minha_lista[1]

2.9

In [6]:
for elemento in minha_lista:
    print(elemento)

1
2.9
palavra
True

In [7]:
minha_lista[0] = 9
minha_lista

[9, 2.9, 'palavra', True]

**Características de uma lista**

- É indexável (poidemos acessar os elementos pelo índice)
- É iterável (conseguimos percorrer ela utilizando o for)
- Podemos alterar os elementos
- Guarda elementos de tipos diferentes

## Tuplas

**Características Tuplas**

- Guardar diferentes tipos de dados (inteiro, float, string, etc);
- É indexável (podemos acessar os elementos por meio do índice);
- É interável

**Quando usar tuplas?**

Quando tivermos, no nosso código, uma sequência que não muda NUNCA, que é imutável

## Declarando uma tupla

In [9]:
minha_tupla = (1, 2.9, 'palavra', True)

In [10]:
type(minha_tupla)

tuple

In [11]:
minha_tupla = 1, 2.9, 'palavra', True

In [12]:
type(minha_tupla)

tuple

### Acessando os elementos da tupla

In [13]:
minha_tupla[0]

1

In [14]:
minha_tupla[1]

2.9

In [15]:
minha_tupla[0] = 9

TypeError: 'tuple' object does not support item assignment

### E se eu precisar mudar a tupla?

Supermercado:

- Pasta de dente
- Papel higiênico
- Bolacha
- Sabão em pó
- Carne

E fazem 10 anos que só vendemos esses produtos

In [16]:
meus_produtos = ('Pasta de dente', 'Papel higienico', 'Bolacha', 'Sabao em po', 'Carne')

In [17]:
meus_produtos

('Pasta de dente', 'Papel higienico', 'Bolacha', 'Sabao em po', 'Carne')

Chegou a pandemia e eu precisava adicionar novos produtos ao meu mercado para ajudar o pessoal que mora nas redondezas

In [18]:
meus_produtos = list(meus_produtos)
type(meus_produtos)

list

In [19]:
meus_produtos

['Pasta de dente', 'Papel higienico', 'Bolacha', 'Sabao em po', 'Carne']

In [20]:
meus_produtos.append('Shampoo')

In [22]:
meus_produtos = tuple(meus_produtos)

In [24]:
type(meus_produtos)

tuple

In [25]:
meus_produtos

('Pasta de dente',
 'Papel higienico',
 'Bolacha',
 'Sabao em po',
 'Carne',
 'Shampoo')

### Percorrendo uma tupla

In [26]:
minha_tupla = (1, 2.9, 'palavra', True)

In [28]:
for elemento in minha_tupla:
     print(elemento)

1
2.9
palavra
True

### Tuplas aninhadas

In [30]:
minha_tupla = ((1, 2, 3), 1, [1, 4, 'sim'], 'palavra', True)

In [31]:
type(minha_tupla[0])

tuple

### Descompactando uma tupla

In [50]:
minha_tupla = (1, 2.9, 'palavra', True, 'sim')

In [51]:
var1 = minha_tupla[0]
var2 = minha_tupla[1]
var3 = minha_tupla[2]
var4 = minha_tupla[3]

print(var1, var2, var3, var4)

1 2.9 palavra True

In [53]:
var1, var2, var3, var4, _ = minha_tupla

In [47]:
print(var1, var2, var3, var4, var5)

NameError: name 'var5' is not defined

### Funções de tupla

Funcoes de lista que alteram a lista, não funcionam em tuplas

In [54]:
len(minha_tupla)

5

In [55]:
minha_tupla[0]

1

In [56]:
minha_tupla = (1, 2.9, 4, 10.7, 2)

In [57]:
max(minha_tupla)

10.7

In [59]:
min(minha_tupla)

1

In [58]:
3 in minha_tupla

False

# Dicionários

Quero fazer uma planilha de chamada.

- Só vou usar o primeiro nome do aluno;
- Ordem alfabética

| nome    | numero |
|---------|--------|
|Ana      |   0    |
|Carlos   |   1    |
|Juliana  |   2    |
|Pedro    |   3    |
|Renato   |   4    |
|Silvia   |   5    |

In [61]:
chamada = ['Ana', 'Carlos', 'Juliana', 'Pedro', 'Renato', 'Silvia']

In [63]:
numero = 3
chamada[numero - 1]

'Juliana'

In [64]:
chamada.index('Juliana') + 1

3

In [66]:
chamada.insert(3, 'Juliana')

In [67]:
chamada

['Ana', 'Carlos', 'Juliana', 'Juliana', 'Pedro', 'Renato', 'Silvia']

In [69]:
chamada.index('Juliana') + 1

3

### O que é um dicionário?

É uma estrutura de dados qeu armazena diferentes tipos de dados e funciona como um mapeamento, ou seja, temos uma **chave** e um **valor** associado a essa chave. Para encontrar algo no dicionário, basta procurar pela chave que você quer.

In [73]:
chamada = {
    'Ana': 1,
    'Carlos':2,
    'Juliana': {'primeira': 3,
               'segunda': 4},
    'Pedro': 5,
    'Renato': 6,
    'Silvia': 7}

### Acessando um dicionário

In [74]:
chamada['Ana']

1

In [75]:
chamada['Juliana']['segunda']

4

In [79]:
chamada['Joao']

KeyError: 'Joao'

In [78]:
## Todo dicionario tem o metodo .get()
## .get(chave, retorno caso nao encontre)

chamada.get('Joao', 'Nao achei o que voce queria')

'Nao achei o que voce queria'

In [86]:
## Exemplo de busca por alunos

## lista de nomes que quero ver se sao meus alunos

alunos = ['Ana', 'Pedro', 'Jose', 'Felipe', 'Silvia']
for aluno in alunos:
    print(f'{aluno}: {chamada.get(aluno, "Aluno nao encontrado")}')

Ana: 1
Pedro: 5
Jose: Aluno nao encontrado
Felipe: Aluno nao encontrado
Silvia: 7

In [93]:
chamada.get('Juliana')

{'primeira': 3, 'segunda': 4}

In [100]:
alunos = ['Ana', 'Pedro', 'Jose', 'Felipe', 'Silvia', 'Juliana']
for aluno in alunos:
    resultado = chamada.get(aluno, "Aluno nao encontrado")
    print('************************')
    print(aluno, resultado)
    print('************************')
    if type(resultado) == int:
        print(resultado)
    elif resultado == "Aluno nao encontrado":
        print("Aluno nao encontrado")
    else:
        resultado_primeira = resultado.get('primeira')
        resultado_segunda = resultado.get('segunda')
        print("RESULTADO", resultado_primeira)
        print("RESULTADO", resultado_segunda)

************************
Ana 1
************************
1
************************
Pedro 5
************************
5
************************
Jose Aluno nao encontrado
************************
Aluno nao encontrado
************************
Felipe Aluno nao encontrado
************************
Aluno nao encontrado
************************
Silvia 7
************************
7
************************
Juliana {'primeira': 3, 'segunda': 4}
************************
RESULTADO 3
RESULTADO 4

In [107]:
alunos = ['Ana', 'Pedro', 'Jose', 'Felipe', 'Silvia', 'Juliana']
for aluno in alunos:
    resultado = chamada.get(aluno, "Aluno nao encontrado")
    print('************************')
    print(aluno, resultado)
    print('************************')
    if type(resultado) == int:
        print(resultado)
    elif resultado == dict:
        print("Aluno nao encontrado")
    else:
        resultado_primeira = resultado.get('primeira')
        resultado_segunda = resultado.get('segunda')
        print("RESULTADO", resultado_primeira)
        print("RESULTADO", resultado_segunda)

************************
Ana 1
************************
1
************************
Pedro 5
************************
5
************************
Jose Aluno nao encontrado
************************

AttributeError: 'str' object has no attribute 'get'

In [104]:
type(chamada)

dict

In [134]:
"Meu aluno: " + alunos[0]

'Meu aluno: Ana'

In [133]:
f'{"Meu aluno"}: {alunos[0]}'

'Meu aluno: Ana'

### Modificando elementos de um dicionário

In [109]:
meu_dicionario = {
    "Palmeiras": 0,
    "Corinthians": 1,
    "Sao Paulo": 3,
    "Santos": 2
}

In [110]:
meu_dicionario

{'Palmeiras': 0, 'Corinthians': 1, 'Sao Paulo': 3, 'Santos': 2}

In [111]:
meu_dicionario["Palmeiras"] = 1

In [112]:
meu_dicionario

{'Palmeiras': 1, 'Corinthians': 1, 'Sao Paulo': 3, 'Santos': 2}

In [113]:
meu_dicionario["Palmeiras"] = meu_dicionario["Palmeiras"] + 1

In [114]:
meu_dicionario

{'Palmeiras': 2, 'Corinthians': 1, 'Sao Paulo': 3, 'Santos': 2}

In [115]:
meu_dicionario["Palmeiras"] = "dois"
meu_dicionario["Corinthians"] = "um"
meu_dicionario["Sao Paulo"] = "tres"
meu_dicionario["Santos"] = "dois"

In [116]:
meu_dicionario

{'Palmeiras': 'dois',
 'Corinthians': 'um',
 'Sao Paulo': 'tres',
 'Santos': 'dois'}

### Como deletar uma chave: valor de um dicionário?

In [117]:
meu_dicionario = {
    "Palmeras": 0,
    "Corinthians": 1,
    "Sao Paulo": 3,
    "Santos": 2
}

In [118]:
meu_dicionario

{'Palmeras': 0, 'Corinthians': 1, 'Sao Paulo': 3, 'Santos': 2}

In [119]:
meu_dicionario["Palmeiras"] = 0

In [120]:
meu_dicionario

{'Palmeras': 0, 'Corinthians': 1, 'Sao Paulo': 3, 'Santos': 2, 'Palmeiras': 0}

In [122]:
## usando .pop(chave) > ele sempre retorna o valor que estava associado

meu_dicionario.pop('Palmeras')

0

In [123]:
meu_dicionario

{'Corinthians': 1, 'Sao Paulo': 3, 'Santos': 2, 'Palmeiras': 0}

In [127]:
meu_dicionario = {
    "Palmeras": 0,
    "Corinthians": 1,
    "Sao Paulo": 3,
    "Santos": 2
}

meu_dicionario["Palmeiras"] = 0

In [128]:
## Usando o del --> Ele nao retorna o valor que estava associado

del meu_dicionario['Palmeras']

In [129]:
meu_dicionario

{'Corinthians': 1, 'Sao Paulo': 3, 'Santos': 2, 'Palmeiras': 0}

In [135]:
## Todo dicionario tem o metodo .key() --> retorna as chaves do dicionario

meu_dicionario.keys()

dict_keys(['Corinthians', 'Sao Paulo', 'Santos', 'Palmeiras'])

In [136]:
## Todo dicionario tem o metodo .values() --> retorna os valores do dicionario

meu_dicionario.values()

dict_values([1, 3, 2, 0])

In [137]:
## Todo dicionario tem o metodo  .items()  --> retorna o par chave:valor do dicionario

meu_dicionario.items()

dict_items([('Corinthians', 1), ('Sao Paulo', 3), ('Santos', 2), ('Palmeiras', 0)])

### Usando for sem especificar se quer ver chave ou valor:

In [138]:
## Se nao especificarmos o que queremos percorrer, ele sempre percorre as chaves

for i in meu_dicionario:
    print(i)

Corinthians
Sao Paulo
Santos
Palmeiras

In [140]:
for valor in meu_dicionario.values():
    print(valor)

1
3
2
0

In [144]:
for par in meu_dicionario.items():
    print(f'O {par[0]} tem {par[1]} mundiais')

O Corinthians tem 1 mundiais
O Sao Paulo tem 3 mundiais
O Santos tem 2 mundiais
O Palmeiras tem 0 mundiais

In [145]:
for time, mundiais in meu_dicionario.items():
    print(f'O {time} tem {mundiais} mundiais')

O Corinthians tem 1 mundiais
O Sao Paulo tem 3 mundiais
O Santos tem 2 mundiais
O Palmeiras tem 0 mundiais

## Exercício Dicionário

| Nome    | Coluna A | Coluna B | 
|---------|--------|--------|
|Maria      |   1    |    5   |
|Pedro   |   0.5    |      3    |
|Joao  |   3.2    |    1    |


Construir um dicionário para a tabela acima

In [198]:
exercicio = {
    "Maria": {
        "Coluna A":{1}, "Coluna B":{5}},
         "Pedro": {
        "Coluna B":{0.5}, "Coluna B":{3}},
             "Joao": {
        "Coluna B":{0.5}, "Coluna B":{3}}
    
}

exercicio

{'Maria': {'Coluna A': {1}, 'Coluna B': {5}},
 'Pedro': {'Coluna B': {3}},
 'Joao': {'Coluna B': {3}}}

In [188]:
exercicio_nova_proposta = {
    0: ["Maria", 1 , 5],
    1: ["Pedro", 0.5 , 3],
    2: ["Joao", 3.2, 1]
}

exercicio_nova_proposta

{0: ['Maria', 1, 5], 1: ['Pedro', 0.5, 3], 2: ['Joao', 3.2, 1]}

In [155]:
M = [1, 5]
P = [0.5, 3]
J = [3.2, 1]

exercicio_proposta2 = {
    'Maria': M,
    'Pedro': P,
    'Joao' : J
}

print(exercicio_proposta2)

{'Maria': [1, 5], 'Pedro': [0.5, 3], 'Joao': [3.2, 1]}

### Cenário 1

Queremos ordenar o dicionario

In [158]:
meu_dicionario = {
    "Palmeras": 0,
    "Corinthians": 1,
    "Sao Paulo": 3,
    "Santos": 2
}

In [159]:
meu_dicionario["Palmeiras"] = 0

In [160]:
del meu_dicionario['Palmeras']

In [161]:
meu_dicionario

{'Corinthians': 1, 'Sao Paulo': 3, 'Santos': 2, 'Palmeiras': 0}

In [162]:
times_ordenados = sorted(meu_dicionario.keys())

In [163]:
meu_dicionario_ordenado = dict() ## ou meu_dicionario_ordenado = {}
for time in times_ordenados:
    meu_dicionario_ordenado[time] = meu_dicionario.get(time)

In [166]:
meu_dicionario_ordenado

{'Corinthians': 1, 'Palmeiras': 0, 'Santos': 2, 'Sao Paulo': 3}

### Cenário 2

Queremos alterar a chave, mas manter o nome correto na mesma posicao

In [178]:
meu_dicionario = {
    "Palmeras": 0,
    "Corinthians": 1,
    "Sao Paulo": 3,
    "Santos": 2
}

In [179]:
meu_dicionario

{'Palmeras': 0, 'Corinthians': 1, 'Sao Paulo': 3, 'Santos': 2}

In [180]:
chaves = meu_dicionario.keys()
chaves

dict_keys(['Palmeras', 'Corinthians', 'Sao Paulo', 'Santos'])

In [184]:
chaves = list(chaves)

In [185]:
indice_deletar = chaves.index('Palmeras')
indice_deletar

0

In [186]:
chaves[indice_deletar] = 'Palmeiras'
chaves

['Palmeiras', 'Corinthians', 'Sao Paulo', 'Santos']

In [192]:
meu_dicionario_alterado = dict()
for i in range(len(meu_dicionario.keys())):
    meu_dicionario_alterado[chaves[i]] = list(meu_dicionario.values())[i]

In [193]:
len(chaves) == len(meu_dicionario.keys())

True

In [194]:
meu_dicionario_alterado

{'Palmeiras': 0, 'Corinthians': 1, 'Sao Paulo': 3, 'Santos': 2}

In [199]:
numeros = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
numeros

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [200]:
numeros = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
numeros

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [208]:
numeros_lista = []

for i in range(101):
    if i % 2== 0:
        numeros_lista.append(i) 
print(numeros_lista)

numeros_tupla = tuple(numeros_lista)

print(numeros_tupla)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100)

In [254]:
import statistics

print('Digite alguns números e digite "end" quando acabar')
lista = []
soma = 0
i = 1

try:
    while True:
        numeros = int(input('Digite um número: '))
        lista.append(numeros)
        soma += numeros
        media = soma / i
        i += 1
        
except ValueError as err:
    print('Pronto! Vamos para os resultados:')
    

print(f'O mínimo é: {min(lista)}, a média é: {media}, o desvio padrão é: {statistics.stdev(lista)}, o máximo é: {max(lista)}')

Digite alguns números e digite "end" quando acabar
Digite um número: 4
Digite um número: 5
Digite um número: 6
Digite um número: g
Pronto! Vamos para os resultados:
O mínimo é: 4, a média é: 5.0, o desvio padrão é: 1.0, o máximo é: 6

##### i = 0

for i in len(lista):
    soma += numeros
    media = soma/i

print(min(lista))
print(max(lista))
print(soma)
print(media)

In [57]:
dicionario = {}
numero = int(input('Digite um número que representa o mês: '))

for meses in range(1, 13):
    if meses % 2 == 0 and meses < 7 and meses != 2:
        dicionario[meses] = 30
    elif meses == 2:
        dicionario[meses] = 28
    elif meses % 2 != 0 and meses > 8 and meses != 2:
        dicionario[meses] = 30
    else:
        dicionario[meses] = 31
        
print('O mês tem' ,dicionario[numero], 'dias')

Digite um número que representa o mês: 2
O mês tem 28 dias

In [56]:
meses_nomes = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']

for meses in range(1, 13):
def numero_dias():    
    dicionario = {}
    for meses in range(1, 13):
        if meses % 2 == 0 and meses < 7 and meses != 2:
            dicionario[meses] = 30
        elif meses == 2:
            dicionario[meses] = 28
        elif meses % 2 != 0 and meses > 8 and meses != 2:
            dicionario[meses] = 30
        else:
            dicionario[meses] = 31
    
    return numero_dias    print(meses_nomes[meses-1], '-' , dicionario[meses])

Janeiro - 31
Fevereiro - 28
Março - 31
Abril - 30
Maio - 31
Junho - 30
Julho - 31
Agosto - 31
Setembro - 30
Outubro - 31
Novembro - 30
Dezembro - 31

In [74]:
def numero_dias(a):    
    dicionario = {}
    for meses in range(1, 13):
        if meses % 2 == 0 and meses < 7 and meses != 2:
            dicionario[meses] = 30
        elif meses == 2:
            dicionario[meses] = 28
        elif meses % 2 != 0 and meses > 8 and meses != 2:
            dicionario[meses] = 30
        else:
            dicionario[meses] = 31
    
    return dicionario[a]


numero = int(input('Digite um número que representa o mês: '))
    
print('O número de dias desse mês é:', numero_dias(numero))

Digite um número que representa o mês: 3
O número de dias desse mês é: 31

In [75]:
frutas = {'Bananas': 3.0,
        'Cebola': 4.0,
        'Maçã': 5.7,
        'Abacaxi': 8.0
         }
frutas

{'Bananas': 3.0, 'Cebola': 4.0, 'Maçã': 5.7, 'Abacaxi': 8.0}

In [76]:
frutas['Maça'] = 8.6

print(frutas)

{'Bananas': 3.0, 'Cebola': 4.0, 'Maçã': 5.7, 'Abacaxi': 8.0, 'Maça': 8.6}

In [81]:
nome_digitado = input('Digite o seu nome: ')
idade_digitado = input('Digite a sua idade: ')
email_digitado = input('Digite o seu email: ')

dados = {'nome': nome_digitado,
         'idade': idade_digitado,
         'email': email_digitado
        }
print(dados)

Digite o seu nome: Michel
Digite a sua idade: 32
Digite o seu email: miche
{'nome': 'Michel', 'idade': '32', 'email': 'miche'}

In [100]:
def dados_pessoais(a, b, c):
    dados = {'nome': a,
             'idade': b,
             'email': c
            }
    return (dados)

a = input('Digite o seu nome: ')
b = input('Digite a sua idade: ')
c = input('Digite o seu email: ')


dados_pessoais(a, b, c)

Digite o seu nome: Michel
Digite a sua idade: 54
Digite o seu email: michel_lee

{'nome': 'Michel', 'idade': '54', 'email': 'michel_lee'}

In [82]:
dados['nome']

'Michel'

In [84]:
# Exercício 11

coluna = {'Mario': {'Coluna A' : 1, 'Coluna B': 5},
          'Pedro': {'Coluna A' : 0.5, 'Coluna B': 3},
          'João': {'Coluna A' : 3.2, 'Coluna B': 1}
}

coluna['Pedro']['Coluna B']

3

In [97]:
# Exercício 12

def quant_aparece(a, b):
    for i in range(len(a)):
        b[a[i]] = a.count(a[i])

    return b

alunos = ['Ana', 'Carlos', 'Juliana', 'Juliana', 'Pedro', 'Ana', 'Renato', 'Silvia', 'Ana']
dicionario_chamada = {}

quant_aparece(alunos, dicionario_chamada)

{'Ana': 3, 'Carlos': 1, 'Juliana': 2, 'Pedro': 1, 'Renato': 1, 'Silvia': 1}

In [92]:
alunos = ['Ana', 'Carlos', 'Juliana', 'Juliana', 'Pedro', 'Ana', 'Renato', 'Silvia', 'Ana']

alunos.count('Ana')

3

In [24]:
# Exercício 13

def dados_pessoais(a, b, c):
    dados = {'nome': a,
             'idade': b,
             'email': c
            }
    return (dados)

escolha = int(input('Escolha um número entre 1, 2 e 3: '))
dicionario = {}
i = 0

while escolha == 1:
    cpf = input('Digite o seu CPF: ')
    a = input('Digite o seu nome: ')
    b = input('Digite a sua idade: ')
    c = input('Digite o seu email: ')
    dicionario[cpf] = dados_pessoais(a, b, c)
    escolha = int(input('Escolha um número entre 1, 2 e 3: '))

if escolha == 2:
    print(dicionario)

else:
    print('Obrigado')

KeyboardInterrupt: Interrupted by user

In [30]:
# Exercício 14

def dados_pessoais(a, b, c):
    dados = {'nome': a,
             'idade': b,
             'email': c
            }
    return (dados)

escolha = int(input('Escolha um número entre 1, 2, 3 e 4: '))
dicionario = {}
i = 0

while escolha == 1:
    cpf = input('Digite o seu CPF: ')
    a = input('Digite o seu nome: ')
    b = input('Digite a sua idade: ')
    c = input('Digite o seu email: ')
    dicionario[cpf] = dados_pessoais(a, b, c)
    escolha = int(input('Escolha um número entre 1, 2, 3 e 4: '))

if escolha == 2:
    print(dicionario)

elif escolha == 3:
    print('Obrigado')

else:
    cpf_busca = input('Digite um CPF que você deseja buscar: ')
    
    print(dicionario[cpf_busca])

Escolha um número entre 1, 2, 3 e 4: 1
Digite o seu CPF: 4321
Digite o seu nome: mkdl
Digite a sua idade: 43
Digite o seu email: mdl@
Escolha um número entre 1, 2, 3 e 4: 4
Digite um CPF que você deseja buscar: 4321
{'nome': 'mkdl', 'idade': '43', 'email': 'mdl@'}

In [33]:
# Exercício 15

def quant_aparece(a, b):
    for i in range(len(a)):
        b[a[i]] = a.count(a[i])

    return b

alunos = 'AnaCarlosJulianaJulianaPedroAnaRenatoSilviaAna'
dicionario_chamada = {}

quant_aparece(alunos, dicionario_chamada)

{'A': 3,
 'n': 6,
 'a': 10,
 'C': 1,
 'r': 2,
 'l': 4,
 'o': 3,
 's': 1,
 'J': 2,
 'u': 2,
 'i': 4,
 'P': 1,
 'e': 2,
 'd': 1,
 'R': 1,
 't': 1,
 'S': 1,
 'v': 1}