# Bibliotecas (módulos)

Assim como pode ser útil reaproveitar um pedaço de código em vários pontos de um mesmo programa, pode ser útil reaproveitar esse pedaço em vários outros projetos também. Várias linguagens de programação oferecem o que chamamos de bibliotecas, e em Python comumente chamamos de módulos.

------ criação do pacote -------

salvar como contas.py

def soma(a, b):
    resultado = a + b
    return resultado

def media(x, y):
    s = soma(x, y)
    resultado = s / 2
    return resultado

In [7]:
# Importar um pacote / módulo / biblioteca
import contas


# chamar a função soma dentro do pacote contas
y = contas.soma(3, 4)
print('y: ', y)

x = contas.media(10, 50)
x

y:  7

30.0

In [3]:
contas.subtracao(4, 1)

3

Observação extra: Comandos DO JUPYTER NOTEBOOK mágicos que facilitam o carregamento do pacote e seu uso
    
%load_ext autoreload -> carrega o comando de autoreload  
%autoreload 2 -> Reload all modules (expect those excluded by %aimport) every time before executing the Python code typed.
https://ipython.org/ipython-doc/3/config/extensions/autoreload.html

In [5]:
%load_ext autoreload 
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Módulos Pré-Instalados

https://docs.python.org/3/library/

In [9]:
import random

sorteio = random.randrange(0, 100)
sorteio

5

In [11]:
# alternativa

import random as rd

sorteio = rd.randrange(0, 100)
sorteio

85

In [12]:
# alternativa
from random import randrange

sorteio = randrange(0, 100)
sorteio

99

In [13]:
# Importar tudo do random
from random import *
# evitar porque podem ter módulos enormes e não vai ser utilizado

Nem todas as bibliotecas usadas, já vem pré-instaladas

In [14]:
# importando o numpy
import numpy as np

ModuleNotFoundError: No module named 'numpy'

## Instalando um módulo

- Vamos abrir nosso prompt (ou terminal)
- Entrar no ambiente, caso queira / exista

        conda activate DSdegree
        
- procurar no google (conda install numpy) -> https://anaconda.org/anaconda/numpyconda -> install -c anaconda numpy

The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    blas-1.0                   |              mkl           5 KB  anaconda
    mkl-service-2.4.0          |   py39h9ed2024_0          45 KB
    mkl_fft-1.3.0              |   py39h4a7008c_2         167 KB
    mkl_random-1.2.2           |   py39hb2f4e1b_0         285 KB
    numpy-1.20.2               |   py39h4b4dc7a_0          23 KB
    numpy-base-1.20.2          |   py39he0bd621_0         4.3 MB
    ------------------------------------------------------------
                                           Total:         4.8 MB

The following NEW packages will be INSTALLED:

  blas               anaconda/osx-64::blas-1.0-mkl
  intel-openmp       pkgs/main/osx-64::intel-openmp-2021.2.0-hecd8cb5_564
  mkl                pkgs/main/osx-64::mkl-2021.2.0-hecd8cb5_269
  mkl-service        pkgs/main/osx-64::mkl-service-2.4.0-py39h9ed2024_0
  mkl_fft            pkgs/main/osx-64::mkl_fft-1.3.0-py39h4a7008c_2
  mkl_random         pkgs/main/osx-64::mkl_random-1.2.2-py39hb2f4e1b_0
  numpy              pkgs/main/osx-64::numpy-1.20.2-py39h4b4dc7a_0
  numpy-base         pkgs/main/osx-64::numpy-base-1.20.2-py39he0bd621_0

In [16]:
import numpy as np

a = np.arange(15).reshape(3, 5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

Para treinar vamos instalar o módulo pandas

In [17]:
import pandas

ModuleNotFoundError: No module named 'pandas'

no prompt vamos instalar o módulo pandas

        conda install -c anaconda pandas

The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    bottleneck-1.3.2           |   py39he3068b8_1         111 KB
    numexpr-2.7.3              |   py39h5873af2_1         124 KB
    pandas-1.2.5               |   py39h23ab428_0         8.5 MB
    pytz-2020.1                |             py_0         239 KB  anaconda
    ------------------------------------------------------------
                                           Total:         8.9 MB

The following NEW packages will be INSTALLED:

  bottleneck         pkgs/main/osx-64::bottleneck-1.3.2-py39he3068b8_1
  numexpr            pkgs/main/osx-64::numexpr-2.7.3-py39h5873af2_1
  pandas             pkgs/main/osx-64::pandas-1.2.5-py39h23ab428_0
  pytz               anaconda/noarch::pytz-2020.1-py_0

In [19]:
import pandas as pd

--------------------------

## Bônus

In [47]:
# Forma que aprendemos para ler um arquivo csv na aula 10

import csv

arquivo = open('../Aula10/alunos.csv', 'r')

planilha = csv.reader(arquivo, delimiter=';', lineterminator='\n')

for linha in planilha:
    print(linha)

arquivo.close()

['RA,Nome,Frequencia,Prova_1,Prova_2,Prova_3,Prova_4']
['110201,Antonio Carlos,20,6.5,8.5,7,6']
['110212,Ana Beatriz,20,7,7,7,8']
['110218,Carlos Vernes,17,7,7,7,7']
['110307,Francisco Cunha,20,9,8.5,8.5,10']
['110275,Sandra Rosa,15,6.5,7.5,7,7']
['110281,Juliana Arruda,18,7.5,7,7.5,8']
['110301,Joao Galo,20,5,6.5,7,5']
['110263,José Valente,20,10,10,10,10']
['110271,Maria Ferreira,19,9.5,8,7,10']
['110236,Adriana Tavares,20,8,8,8,8']

In [48]:
# Outra fomra de ler um arquivo csv
import pandas as pd

pd.read_csv('../Aula10/alunos.csv')

       RA             Nome  Frequencia  Prova_1  Prova_2  Prova_3  Prova_4
0  110201   Antonio Carlos          20      6.5      8.5      7.0        6
1  110212      Ana Beatriz          20      7.0      7.0      7.0        8
2  110218    Carlos Vernes          17      7.0      7.0      7.0        7
3  110307  Francisco Cunha          20      9.0      8.5      8.5       10
4  110275      Sandra Rosa          15      6.5      7.5      7.0        7
5  110281   Juliana Arruda          18      7.5      7.0      7.5        8
6  110301        Joao Galo          20      5.0      6.5      7.0        5
7  110263     José Valente          20     10.0     10.0     10.0       10
8  110271   Maria Ferreira          19      9.5      8.0      7.0       10
9  110236  Adriana Tavares          20      8.0      8.0      8.0        8