# Questão #1

Enunciado

O arquivo avocado.csv consiste em um dataset que contém dados sobre vendas de abacates (avocado, em inglês) em diversas regiões dos Estados Unidos. Essa dataset contém as seguintes colunas:

    Date - a data da observação
    AveragePrice - o preço médio de um único abacate
    year - o ano
    region - a cidade ou região da observação
    Total Volume - volume total de abacates vendidos

Além das informações acima, contidas no arquivo avocado.csv, o tipo do abacate (convencional ou orgânico) também seria uma informação importante para a sua análise. Suponhamos que você conseguiu essas informações para cada uma das observações do arquivo avocado.csv, na mesma ordem, e salvou-as no arquivo avocado_type.csv. Portanto, tudo o que você precisa é juntar esses dois arquivos em um mesmo DataFrame. E, em seguida, salve-o em um arquivo csv.

PS. Caso queira criar uma Series com os dados aleatórios para o tipo de abacate, utilize o código abaixo:

tipos = pd.Series(np.random.randint(0, 2, df_avocado.shape[0]))  
tipos = tipos.map({0: 'convencional', 1:'orgânico'})

In [13]:
import pandas as pd

df_avocado = pd.read_csv('avocado.csv')

df_tipo = pd.read_csv('avocado_type.csv')

print(df_avocado.head())
print(df_tipo.head())

df_avocado_tipo = pd.merge(df_avocado, df_tipo, left_index = True, right_index = True)

df_avocado_tipo.to_csv('avocado_completo.csv')

         Date  AveragePrice  Total Volume  year  region
0  2015-12-27          1.33      64236.62  2015  Albany
1  2015-12-20          1.35      54876.98  2015  Albany
2  2015-12-13          0.93     118220.22  2015  Albany
3  2015-12-06          1.08      78992.15  2015  Albany
4  2015-11-29          1.28      51039.60  2015  Albany
           type
0  conventional
1  conventional
2  conventional
3  conventional
4  conventional

# Questão #2

Enunciado

Carregue o arquivo csv que você salvou na questão anterior e, em seguida, obtenha o que é solicitado nos itens elencados abaixo:

(a) A quantidade de abacates do tipo convecional e do tipo orgânico.  
(b) A quantidade de registros (linhas) de abacates vendidos para cada região.  
(c) Para que todos os labels das colunas fiquem padronizados, renomeie aqueles que estão iniciando em letra minúscula para que iniciem em letra maiúscula.  
(d) Uma vez que você já possui uma coluna com a data, remova a coluna que apresenta o ano.

In [1]:
import pandas as pd

df2 = pd.read_csv('avocado_completo.csv')

print(df2.groupby('type')['Total Volume'].sum())
print(df2.groupby('region').size())

df2_cap = df2.rename(columns = str.capitalize)

df2_cap

print(df2_cap.drop(['Year'], axis=1))

type
conventional    1.508722e+10
organic         4.361817e+08
Name: Total Volume, dtype: float64
region
Albany                 338
Atlanta                338
BaltimoreWashington    338
Boise                  338
Boston                 338
BuffaloRochester       338
California             338
Charlotte              338
Chicago                338
CincinnatiDayton       338
Columbus               338
DallasFtWorth          338
Denver                 338
Detroit                338
GrandRapids            338
GreatLakes             338
HarrisburgScranton     338
HartfordSpringfield    338
Houston                338
Indianapolis           338
Jacksonville           338
LasVegas               338
LosAngeles             338
Louisville             338
MiamiFtLauderdale      338
Midsouth               338
Nashville              338
NewOrleansMobile       338
NewYork                338
Northeast              338
NorthernNewEngland     338
Orlando                338
Philadelphia           338
PhoenixTucson          338
Pittsburgh             338
Plains                 338
Portland               338
RaleighGreensboro      338
RichmondNorfolk        338
Roanoke                338
Sacramento             338
SanDiego               338
SanFrancisco           338
Seattle                338
SouthCarolina          338
SouthCentral           338
Southeast              338
Spokane                338
StLouis                338
Syracuse               338
Tampa                  338
TotalUS                338
West                   338
WestTexNewMexico       335
dtype: int64
       Unnamed: 0        Date  Averageprice  Total volume            Region  \
0               0  2015-12-27          1.33      64236.62            Albany
1               1  2015-12-20          1.35      54876.98            Albany
2               2  2015-12-13          0.93     118220.22            Albany
3               3  2015-12-06          1.08      78992.15            Albany
4               4  2015-11-29          1.28      51039.60            Albany
...           ...         ...           ...           ...               ...
18244       18244  2018-02-04          1.63      17074.83  WestTexNewMexico
18245       18245  2018-01-28          1.71      13888.04  WestTexNewMexico
18246       18246  2018-01-21          1.87      13766.76  WestTexNewMexico
18247       18247  2018-01-14          1.93      16205.22  WestTexNewMexico
18248       18248  2018-01-07          1.62      17489.58  WestTexNewMexico

               Type
0      conventional
1      conventional
2      conventional
3      conventional
4      conventional
...             ...
18244       organic
18245       organic
18246       organic
18247       organic
18248       organic

[18249 rows x 6 columns]

# Questão #3

Enunciado

Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na questão Q1, agrupe os dados do DF pelo tipo do abacate e, em seguida, obtenha:

(a) A volume total de abacates vendidos para cada tipo.  
(b) O preço médio dos abacates vendidos para cada tipo.

In [10]:
import pandas as pd

df3 = pd.read_csv('avocado_completo.csv')

print(df3.groupby('type')['Total Volume'].sum())
print(df3.groupby('type')['AveragePrice'].mean())

type
conventional    1.508722e+10
organic         4.361817e+08
Name: Total Volume, dtype: float64
type
conventional    1.158040
organic         1.653999
Name: AveragePrice, dtype: float64

# Questão #4

Enunciado

O arquivo googleplaystore.csv é um dataset que contém diversas informações sobre aplicativos disponíveis para download na Google Play Store. Você deve utilizar esse dataset para fazer o mesmo que foi solicitado na questão anterior. Ou seja, carregue-o em um objeto DataFrame e verifique os dados contidos nas colunas desse DF. Logo após, verifique se existem dados duplicados e/ou ausentes nesse dataset.

Caso existam dados duplicados, remova-os. Caso existam dados ausentes, você pode removê-los ou pensar em alguma maneira de preenchê-los.

In [66]:
import pandas as pd

df4 = pd.read_csv('googleplaystore.csv')

print(df4.duplicated().any())
df4_dp = df4.drop_duplicates()


df4_dp['Rating'] = df4_dp.fillna(df4_dp['Rating'].mean())

df4_dp['Current Ver'] = df4_dp.fillna('Varies with device')

df4_dp['Android Ver'] = df4_dp.fillna('Varies with device')

df4_dp['Type'] = df4_dp.fillna(0)

df4_dp['Content Rating'] = df4_dp.fillna('Everyone')

df4_dp[df4_dp.isna().any(axis=1)]

True

<ipython-input-66-b301592742f7>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4_dp['Rating'] = df4_dp.fillna(df4_dp['Rating'].mean())
<ipython-input-66-b301592742f7>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4_dp['Current Ver'] = df4_dp.fillna('Varies with device')
<ipython-input-66-b301592742f7>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4_dp['Android Ver'] = df4_dp.fillna('Varies with device')
<ipython-input-66-b301592742f7>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4_dp['Type'] = df4_dp.fillna(0)
<ipython-input-66-b301592742f7>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4_dp['Content Rating'] = df4_dp.fillna('Everyone')

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

# Questão #5

Enunciado

O arquivo houses_to_rent.csv consiste em um dataset que contém dados sobre casas para alugar no Brasil. Carregue-o em um objeto DataFrame e verifique os dados contidos nas colunas desse DF (você pode utilizar os métodos head, tail e info). Logo após, verifique se existem dados duplicados e/ou ausentes nesse dataset.

Caso existam dados duplicados, remova-os. Caso existam dados ausentes, você pode removê-los ou pensar em alguma maneira de preenchê-los.

In [68]:
import pandas as pd

df5 = pd.read_csv('houses_to_rent.csv')

print(df5.duplicated().any())
df5_dp = df5.drop_duplicates()

df5_dp[df5_dp.isna().any(axis=1)]

True

Empty DataFrame
Columns: [city, area, rooms, bathroom, parking spaces, floor, animal, furniture, hoa (R$), rent amount (R$), property tax (R$), fire insurance (R$), total (R$)]
Index: []