# Questão #1

Enunciado

Crie uma Series com os índices registrados pelo TIOBE Index para as top 10 linguagens de programação. Os índices da Series devem ser os nomes das linguagens, e os valores devem ser as taxas de popularidade de cada respectiva linguagem de programação. Em seguida, utilize os métodos da Series para:

    Exibir os cinco primeiros valores da Series
    Exibir os cinco últimos valores da Series

In [16]:
import pandas as pd

linguagem = ['C', 'Python', 'Java', 'C++', 'C#', 'Visual Basic', 'JavaScript', 'PHP', 'Assembly', 'SQL', 'Groovy']

pop = ['12.57%', '11.86%', '10.43%', '7.36%', '5.14%', '4.67%', '2.95%', '2.19%', '2.03%', '1.47%', '1.36%']

linguagem_pop = pd.Series(data = linguagem, index = pop)

print(linguagem_pop)
print(linguagem_pop[:5])
print(linguagem_pop[5:])

12.57%               C
11.86%          Python
10.43%            Java
7.36%              C++
5.14%               C#
4.67%     Visual Basic
2.95%       JavaScript
2.19%              PHP
2.03%         Assembly
1.47%              SQL
1.36%           Groovy
dtype: object
12.57%         C
11.86%    Python
10.43%      Java
7.36%        C++
5.14%         C#
dtype: object
4.67%    Visual Basic
2.95%      JavaScript
2.19%             PHP
2.03%        Assembly
1.47%             SQL
1.36%          Groovy
dtype: object

In [9]:
linguagem_pop

[    Aug 2021  Aug 2020  Change  Programming Language Programming Language.1  \
 0          1         1     NaN                   NaN                      C
 1          2         3     NaN                   NaN                 Python
 2          3         2     NaN                   NaN                   Java
 3          4         4     NaN                   NaN                    C++
 4          5         5     NaN                   NaN                     C#
 5          6         6     NaN                   NaN           Visual Basic
 6          7         7     NaN                   NaN             JavaScript
 7          8         9     NaN                   NaN                    PHP
 8          9        14     NaN                   NaN      Assembly language
 9         10        10     NaN                   NaN                    SQL
 10        11        18     NaN                   NaN                 Groovy
 11        12        17     NaN                   NaN   Classic Visual Basic
 12        13        42     NaN                   NaN                Fortran
 13        14         8     NaN                   NaN                      R
 14        15        15     NaN                   NaN                   Ruby
 15        16        12     NaN                   NaN                  Swift
 16        17        16     NaN                   NaN                 MATLAB
 17        18        11     NaN                   NaN                     Go
 18        19        36     NaN                   NaN                 Prolog
 19        20        13     NaN                   NaN                   Perl

    Ratings Change.1
 0   12.57%   -4.41%
 1   11.86%   +2.17%
 2   10.43%   -4.00%
 3    7.36%   +0.52%
 4    5.14%   +0.46%
 5    4.67%   +0.01%
 6    2.95%   +0.07%
 7    2.19%   -0.05%
 8    2.03%   +0.99%
 9    1.47%   +0.02%
 10   1.36%   +0.59%
 11   1.23%   +0.41%
 12   1.14%   +0.83%
 13   1.05%   -1.75%
 14   1.01%   -0.03%
 15   0.98%   -0.44%
 16   0.98%   +0.11%
 17   0.90%   -0.52%
 18   0.80%   +0.41%
 19   0.78%   -0.33%  ,
     Position  Programming Language Ratings
 0         21                   SAS   0.67%
 1         22  Delphi/Object Pascal   0.62%
 2         23           Objective-C   0.61%
 3         24                  Rust   0.56%
 4         25               Scratch   0.55%
 5         26                 Julia   0.51%
 6         27                   Ada   0.49%
 7         28                  Lisp   0.47%
 8         29                  Dart   0.45%
 9         30                PL/SQL   0.43%
 10        31       (Visual) FoxPro   0.42%
 11        32                 Scala   0.42%
 12        33                  ABAP   0.41%
 13        34                 COBOL   0.37%
 14        35                  Logo   0.31%
 15        36                    F#   0.30%
 16        37                Kotlin   0.30%
 17        38          Transact-SQL   0.27%
 18        39                   Lua   0.26%
 19        40                Scheme   0.24%
 20        41          Ladder Logic   0.24%
 21        42              VBScript   0.23%
 22        43                     D   0.23%
 23        44               Clojure   0.22%
 24        45               LabVIEW   0.22%
 25        46                   Nim   0.22%
 26        47                  VHDL   0.21%
 27        48                  Apex   0.21%
 28        49            TypeScript   0.21%
 29        50                  Bash   0.18%,
    Programming Language 2021 2016 2011 2006 2001 1996 1991 1986
 0                     C    1    2    2    2    1    1    1    1
 1                  Java    2    1    1    1    3   18    -    -
 2                Python    3    5    6    8   26   24    -    -
 3                   C++    4    3    3    3    2    2    2    6
 4                    C#    5    4    5    7   13    -    -    -
 5          Visual Basic    6   13    -    -    -    -    -    -
 6            JavaScript    7    7   10    9    9   22    -    -
 7                   PHP    8    6    4    4   10    -    -    -
 8                   SQL    9    -    -    -   37    -    -    -
 9     Assembly language   10   11    -    -    -    -    -    -
 10                  Ada   31   27   17   17   18    8    5    2
 11                 Lisp   34   28   13   13   16    7    8    3
 12       (Visual) Basic    -    -    7    5    4    3    3    5,
     Year        Winner
 0   2020        Python
 1   2019             C
 2   2018        Python
 3   2017             C
 4   2016            Go
 5   2015          Java
 6   2014    JavaScript
 7   2013  Transact-SQL
 8   2012   Objective-C
 9   2011   Objective-C
 10  2010        Python
 11  2009            Go
 12  2008             C
 13  2007        Python
 14  2006          Ruby
 15  2005          Java
 16  2004           PHP
 17  2003           C++]

https://www.tiobe.com/tiobe-index/

# Questão #2

Enunciado

Crie uma Series com os 11 primeiros termos da sequência de Fibonacci. Utilize letras (em ordem alfabética) como os índices da Series. Em seguida, obtenha apenas aqueles elementos que forem superiores a 10 e inferiores a 50.

    Sequência de Fibonacci: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55...

In [25]:
import pandas as pd

def fib(n):
    if n == 0:
        return [0]
    elif n == 1:
        return [0, 1]
    else:
        lst = fib(n-1)
        lst.append(lst[-1] + lst[-2])
        return lst

fibon11 = fib(10)

import string
alfa = list(string.ascii_lowercase[:len(fibon11)])

serie = pd.Series(data = fibon11, index = alfa)


serie[(serie > 10) & (serie < 50)]

h    13
i    21
j    34
dtype: int64

# Questão #3

Enunciado

Crie um programa para calcular a média e o desvio padrão de uma series. Observe o exemplo abaixo:

Series

0 1   
1 2   
2 3   
3 4   
4 5   
5 6   
6 7   
7 8   
8 9   
9 5   
10 3   
dtype: int64   

Saída  

Média: 4.818181818181818   
Desvio Padrão: 2.522624895547565

In [35]:
import pandas as pd

lista3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 3]
serie3 = pd.Series(data = lista3)

print('Média:', serie3.mean())
print('Desvio Padrão:', serie3.std())

Média: 4.818181818181818
Desvio Padrão: 2.522624895547565

# Questão #4

Enunciado

Crie um array com 20 números aleatórios inteiros entre 1 e 5. Em seguida, calcule a frequência (percentual) de cada valor específico da Series.

In [39]:
import numpy as np
import pandas as pd

array4 = np.random.randint(1, 6, 20)

serie4 = pd.Series(data = array4)
serie4.value_counts()

1    8
2    5
4    4
5    3
dtype: int64

In [51]:
serie4.head()

0    1
1    1
2    1
3    4
4    2
dtype: int64

In [53]:
serie4.tail()

15    4
16    4
17    5
18    5
19    4
dtype: int64

In [40]:
100*serie4.value_counts()/len(serie4)

1    40.0
2    25.0
4    20.0
5    15.0
dtype: float64

In [41]:
100*serie4.value_counts()/serie4.shape

1    40.0
2    25.0
4    20.0
5    15.0
dtype: float64

In [42]:
100*serie4.value_counts(normalize = True)

1    40.0
2    25.0
4    20.0
5    15.0
dtype: float64

# Questão #5

Enunciado

Crie um programa para mostrar qual é o valor mais frequente de uma series e, em seguida, substitua todos os demais valores dela por "Outro valor".

In [73]:
import pandas as pd

lista5 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 3, 5]

serie5 = pd.Series(data = lista5)

m = int(serie5.mode())

serie5[serie5 != m] = 'Outro valor'

serie5

0     Outro valor
1     Outro valor
2     Outro valor
3     Outro valor
4               5
5     Outro valor
6     Outro valor
7     Outro valor
8     Outro valor
9               5
10    Outro valor
11              5
dtype: object

In [75]:
import pandas as pd

lista5 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 3, 5, 3]

serie5 = pd.Series(data = lista5)

m = serie5.mode()

serie5[~ serie5.isin(m)] = 'Outro valor'

serie5

0     Outro valor
1     Outro valor
2               3
3     Outro valor
4               5
5     Outro valor
6     Outro valor
7     Outro valor
8     Outro valor
9               5
10              3
11              5
12              3
dtype: object

# Questão #6

Enunciado

Crie um array com números entre 1 e 10, com passo 1. Em seguida, embaralhe esses números utilizando o método shuffle do Numpy. Crie uma lista com o fatorial desses números, nessa nova ordem (após o embaralhamento). Por fim, crie uma Series cujo os valores são os fatoriais (embaralhados) e os índices são os números associados ao fatorial.

Exemplo de saída

3           6  
5         120  
1           1  
9      362880  
4          24  
7        5040  
10    3628800  
2           2  
6         720  
8       40320  
dtype: int64

In [67]:
import pandas as pd
import numpy as np

array6 = np.arange(1, 11)
np.random.shuffle(array6)

def factorial(array):
    lista = []
    for elemento in array:
        fact = 1
        for num in range(1, elemento+1):
            fact = fact * num
        lista.append(fact)
    return lista

lista_fat = np.apply_along_axis(factorial, 0, array6).tolist()

serie6 = pd.Series(data = lista_fat, index = array6)

serie6

10    3628800
4          24
2           2
7        5040
6         720
3           6
8       40320
5         120
9      362880
1           1
dtype: int64

In [65]:
def factorial(array):
    lista = []
    for elemento in array:
        fact = 1
        for num in range(1, elemento+1):
            fact = fact * num
        lista.append(fact)
    return lista
        
numeros = [3, 3, 6, 1, 8, 3, 9, 2, 7, 10]

print(factorial(numeros))

[6, 6, 720, 1, 40320, 6, 362880, 2, 5040, 3628800]

In [63]:
numeros = [3, 3, 6, 1, 8, 3, 9, 2, 7, 10]
for item in numeros:
    fact = 1
    for number in range(1,item+1):
        fact = fact * number
    print ("Factorial of", number, "is", fact)

Factorial of 3 is 6
Factorial of 3 is 6
Factorial of 6 is 720
Factorial of 1 is 1
Factorial of 8 is 40320
Factorial of 3 is 6
Factorial of 9 is 362880
Factorial of 2 is 2
Factorial of 7 is 5040
Factorial of 10 is 3628800

# Questão #1

Enunciado

Em um concurso público foram contabilizados os números de pessoas inscritas (até a data inicialmente estabelecida para a inscrição) segundo os níveis de escolaridade: fundamental completo, médio completo, superior completo e pós-graduação completa. Segue abaixo a tabela com os valores observados.  
Nível de escolaridade 	Inscritos  
Fundamental completo 	451  
Médio completo 	627  
Superior completo 	292  
Pós-graduação completa 	95  

Com base na tabela acima, crie uma Series com esses valores e calcule:

(a) O número total de inscritos  
(b) Número inscritos que possuem, pelo menos, o superior completo.  
(c) Suponha que a inscrição foi prorrogada e, com isso, foi obtido um número adicional de inscrições: 68, 93, 22 e 0 inscritos a mais em cada uma das categorias de escolaridade apresentados na tabela acima (na mesma ordem). Assim, crie uma nova Series com esses valores.  
(d) Utilizando as duas Series que você tem, calcule o número total de inscritos após a prorrogação do período de inscrições.

In [15]:
import pandas as pd

labels1 = ['Fundamental completo', 'Médio completo', 'Superior completo', 'Pós-graduação completa']

qtd1 = [451, 627, 292, 95]
novos1 = [68, 93, 22, 0]

serie1 = pd.Series(data = qtd1, index = labels1)
serie_novos1 = pd.Series(data = novos1, index = labels1)
serie_atual1 = serie1 + serie_novos1


print('O número total de inscritos é:', serie1.sum())
print('Número inscritos que possuem, pelo menos, o superior completo é:', serie1[2:].sum())
print('Utilizando as duas Series, o número total de inscritos após a prorrogação do período de inscrições é:' , serie_atual1.sum())

O número total de inscritos é: 1465
Número inscritos que possuem, pelo menos, o superior completo é: 387
Utilizando as duas Series, o número total de inscritos após a prorrogação do período de inscrições é: 1648

# Questão #2

Enunciado

Uma turma de cinco alunos foi submetida a uma avaliação e a nota de cada um dos alunos é apresentada na tabela abaixo:  
Nome do Aluno 	Nota  
Wilfred 	2  
Abbie 	7  
Harry 	5.5  
Julia 	10  
Carrie 	6.2  

(a) Crie uma Series com os valores da tabela acima.  
(b) Retorne o número de alunos que foram aprovados (considerando que a nota mínima para a aprovação é 7).  
(c) Qual foi a nota média da turma.  
(d) Obtenha o nome dos alunos que tiraram notas acima da média da turma.

In [74]:
import pandas as pd

nomes2 = ['Wilfred', 'Abble', 'Harry', 'Julia', 'Carrie']

nota2 = [2, 7, 5.5, 10, 6.2]


serie2 = pd.Series(data = nota2, index = nomes2)
serie_media2 = serie2[serie2 > int(serie2.mean())]


print('O número de alunos que foram aprovados é:', serie2[serie2 >= 7].count())
print('A nota média da turma foi:', serie2.mean())
print('o nome dos alunos que tiraram notas acima da média da turma é', serie_media2.index.tolist())

O número de alunos que foram aprovados é: 2
A nota média da turma foi: 6.14
o nome dos alunos que tiraram notas acima da média da turma é ['Abble', 'Julia', 'Carrie']

# Questão #3

Enunciado

Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:
Peso (kg) 	Altura (cm) 	Idade
72 	180 	31
80 	170 	21
60 	175 	16
90 	174 	28
100 	185 	23

Com base no DataFrame criado, realize o que pedido nos itens abaixo:

(a) Visualize apenas os dados da coluna que contém a altura das pessoas.
(b) Obtenha a idade média das pessoas.
(c) Obtenha os dados das pessoas que estão abaixo da altura média.
(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.
(e) Remova a coluna que contém a idade das pessoas.
(f) Salve esses dados do DataFrame em um arquivo csv.

# Questão #4

Enunciado

Carregue, em um objeto DataFrame, o arquivo CSV que você salvou no item (f) da questão anterior. Em seguida,

(a) Crie uma nova coluna que contenha o nome das pessoas (sinta-se à vontade para atribuir os nomes que preferir).
(b) Defina a nova coluna criada (com os nomes) como o índice (index) do seu DataFrame.
(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9).

# Questão #5

Enunciado

Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na Questão 3. Em seguida,

(a) Adicione uma nova coluna nesse DF chamada Classificação, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.

IMC 	Classificação 	Obesidade (grau)  
Menor que 18,5 	Magreza 	0  
Entre 18,5 e 24,9 	Normal 	0  
Entre 25,0 e 29,9 	Sobrepeso 	I  
Entre 30,0 e 39,9 	Obesidade 	II  
Maior que 40,0 	Obesidade Grave 	III  

(b) Salve em DataFrame no formato xlsx.